@font-face {
 font-family: 'lineto-akkurat-bold';
 src: url('../fonts/lineto-akkurat-pro-bold.eot');
 src: url('../fonts/lineto-akkurat-pro-bold.eot') format('embedded-opentype');
 src: url('../fonts/lineto-akkurat-pro-boldd41d.eot') format('embedded-opentype'),
      url('../fonts/lineto-akkurat-pro-bold.html') format('html'),
      url('../fonts/lineto-akkurat-pro-bold.woff') format('woff');
 font-style: normal;
 font-weight: bold;
}
@font-face {
 font-family: 'lineto-akkurat-light';
 src: url('../fonts/lineto-akkurat-pro-light.eot');
 src: url('../fonts/lineto-akkurat-pro-light.eot') format('embedded-opentype');
 src: url('../fonts/lineto-akkurat-pro-lightd41d.eot') format('embedded-opentype'),
      url('../fonts/lineto-akkurat-pro-light.html') format('html'),
      url('../fonts/lineto-akkurat-pro-light.woff') format('woff');
 font-style: normal;
 font-weight: lighter;
}
@font-face {
 font-family: 'lineto-akkurat-regular';
 src: url('../fonts/lineto-akkurat-pro-regular.eot');
 src: url('../fonts/lineto-akkurat-pro-regular.eot') format('embedded-opentype');
 src: url('../fonts/lineto-akkurat-pro-regulard41d.eot') format('embedded-opentype'),
      url('../fonts/lineto-akkurat-pro-regular.html') format('html'),
      url('../fonts/lineto-akkurat-pro-regular.woff') format('woff');
 font-style: normal;
 font-weight: lighter;
}
// var TYPO
$bold:'lineto-akkurat-bold';
$reg:'lineto-akkurat-regular';
$light:'lineto-akkurat-light';

//  var color
$dark: #212121;
$gris: #3F3F3F;
$gris-text:#a9a9a9;
$gris-clair-text:#7e7e7e;
$gris-blue:#819097;
//GENERALE
.btn{
    text-transform: uppercase;
    font-family: $bold;
    font-size: 11px;
    color: white;
    letter-spacing: 2px;
}
//nav//
.navigation__container{
    font-family: $bold;
    font-size: 0.88rem;
    line-height: 15px;
    text-align: center;
    &__links__links{
        color: white;
    }
}

//HEADER-Home//
.hero-home__title{
    color: white;
    font-size: 3rem;
    line-height: 49px;
    font-family: $light;

    span{
        color: $gris-text;
        font-size: 2.25rem;
        line-height: 37px;

    }
}
.hero-main__section__works{
    &__title{
        text-transform: uppercase;
        font-family: $bold;
        font-size: 1rem;
        line-height: 17px;
        color: $gris-blue;
        letter-spacing: 2px;
    }
    &__body{
        color: white;
        font-family: $light;
        font-size: 1.25rem;
        line-height: 30px;
    }
}
.hero-main__section__standing{
    &__container__texts__title{
        text-transform: uppercase;
        font-family: $bold;
        font-size: 1rem;
        line-height: 17px;
        color: $gris-blue;
        letter-spacing: 2px;
        padding-bottom: 20px;


        span{
            display: block;
            text-transform: none;
            letter-spacing: 0;
            font-family: $light;
            font-size: 1.5rem;
            color: white;
            line-height: 25px;
            padding-top: 30px;
        }
    }
    &__container__texts__body{
        color: $gris-text;
        font-family: $reg;
        font-size: 1rem;
        line-height: 24px;
        padding-bottom: 20px;
    }
}
.hero-main__section__choose{
    text-align: center;
    &__title{
        text-transform: uppercase;
        font-family: $bold;
        font-size: 1rem;
        line-height: 17px;
        color: $gris-blue;
        letter-spacing: 2px;
        padding-bottom: 10px;
    }
    &__body{
        color: $dark;
        font-family: $light;
        font-size: 1.25rem;
        line-height: 30px;
        padding-bottom: 10px;
    }
    &__container__contain__title{
        text-transform: uppercase;
        color: $dark;
        font-size: 0.88rem;
        letter-spacing: 2px;
        padding: 15px 0 10px;
    }
    &__container__contain__body{
        color: $gris-clair-text;
        font-family: $light;
        font-size: 1rem;
        line-height: 22px;
        padding-bottom: 30px;
    }
}
.hero-main__section__hightly{
    &__container__texts__title{
        font-size: 1.5rem;
        color: white;
        font-family: $light;
        line-height: 28px;

    }
    &__container__texts__body{
        color:$gris-text;
        font-family: $light;
        font-size: 1rem;
        line-height: 22px;

    }
}
.hero-main__section__power{
    text-align: center;
    &__title{
        color: white;
        font-family: $light;
        font-size: 1.5rem;
        line-height: 25px;
    }
    &__body{
        color:$gris-text;
        font-family: $reg;
        font-size: 1.25rem;
    }
}
.hero-main__section__papers__paper{
    text-align: center;
    &__body{
        color: #000;
        font-size: 1rem;
        line-height: 28px;
        font-family: $light;

    }
}
///FOOTER///
.footer{
    color: #fff;
    font-family: $reg;
    &__links__link{
        color: #fff;
        text-transform: uppercase;
        line-height: 12px;
        letter-spacing: 2px;
        font-size: 0.69rem;
    }
    &__social__link{
        color: #fff;
        font-size: 1rem;
        line-height: 17px;
    }

    &__copyright{
        text-align: center;
        color: $gris-text;
        font-family: $light;
        font-size: 1rem;
        line-height: 21px;
    }
}
