/////////////////
//IMPORT FONT////
/////////////////

@font-face {
 font-family: 'lineto-akkurat-bold';
 src: url('../fonts/lineto-akkurat-pro-bold.eot');
 src: url('../fonts/lineto-akkurat-pro-bold.eot') format('embedded-opentype');
 src: url('../fonts/lineto-akkurat-pro-boldd41d.eot') format('embedded-opentype'),
      url('../fonts/lineto-akkurat-pro-bold.html') format('html'),
      url('../fonts/lineto-akkurat-pro-bold.woff') format('woff');
 font-style: normal;
 font-weight: bold;
}
@font-face {
 font-family: 'lineto-akkurat-light';
 src: url('../fonts/lineto-akkurat-pro-light.eot');
 src: url('../fonts/lineto-akkurat-pro-light.eot') format('embedded-opentype');
 src: url('../fonts/lineto-akkurat-pro-lightd41d.eot') format('embedded-opentype'),
      url('../fonts/lineto-akkurat-pro-light.html') format('html'),
      url('../fonts/lineto-akkurat-pro-light.woff') format('woff');
 font-style: normal;
 font-weight: lighter;
}
@font-face {
 font-family: 'lineto-akkurat-regular';
 src: url('../fonts/lineto-akkurat-pro-regular.eot');
 src: url('../fonts/lineto-akkurat-pro-regular.eot') format('embedded-opentype');
 src: url('../fonts/lineto-akkurat-pro-regulard41d.eot') format('embedded-opentype'),
      url('../fonts/lineto-akkurat-pro-regular.html') format('html'),
      url('../fonts/lineto-akkurat-pro-regular.woff') format('woff');
 font-style: normal;
 font-weight: lighter;
}

/////////////
//var TYPO //
/////////////
$bold:'lineto-akkurat-bold';
$reg:'lineto-akkurat-regular';
$light:'lineto-akkurat-light';

/////////////
//var color//
/////////////

$dark: #212121;
$gris: #3F3F3F;
$gris-text:#a9a9a9;
$gris-clair-text:#7e7e7e;
$gris-blue:#819097;

/////////////
//GENERAL////
/////////////
.btn{
    text-transform: uppercase;
    font-family: $bold;
    font-size: 11px;
    color: white;
    letter-spacing: 2px;
}

///////
//nav//
///////
.navigation__container{
    font-family: $bold;
    font-size: 0.88rem;
    line-height: 15px;
    text-align: center;
    &__links__links{
        color: white;
    }
}

///////////////
//HEADER-Home//
///////////////

.hero-home__title{
    color: white;
    font-size: 3rem;
    line-height: 49px;
    font-family: $light;
    @media screen and(min-width: 360px){
        width: 350px;
    }

    span{
        color: $gris-text;
        font-size: 2.25rem;
        line-height: 37px;

    }
}

///////////////
///MAIN-Home///
///////////////

.section__works{
    &__title{
        text-transform: uppercase;
        font-family: $bold;
        font-size: 1rem;
        line-height: 17px;
        color: $gris-blue;
        letter-spacing: 2px;
        padding-bottom: 20px;
    }
    &__body{
        color: white;
        font-family: $light;
        font-size: 1.25rem;
        line-height: 30px;
        @media screen and(min-width: 1024px){
            font-size: 1.75rem;
            line-height: 48px;
            width: 70%;
            margin: auto;
            padding-bottom: 50px;
        }
    }
}
.products{

    &__container__texts{
        @media screen and(min-width: 1024px){
         width: 40%;
        }
        &__subhead{
            text-transform: uppercase;
            font-family: $bold;
            font-size: 1rem;
            line-height: 17px;
            color: $gris-blue;
            letter-spacing: 2px;

        }
        &__head{
            display: block;
            text-transform: none;
            letter-spacing: 0;
            font-family: $light;
            font-size: 1.5rem;
            color: white;
            line-height: 25px;
            padding: 30px 0 10px;


            &--black{
                color: $dark;
            }
            @media screen and(min-width: 1024px){
                font-size: 2.5rem;
                padding: 40px 0 30px;
                line-height: 48px;
            }
            &--one{
                padding-top: 10px;
                @media screen and(min-width: 1024px){
                    font-size: 2.5rem;
                    line-height: 40px;
                    padding: 10px 0 30px;
                }
            }
            &--tin{
                @media screen and(min-width: 1024px){
                    font-size: 2rem;
                    line-height: 30px;
                    padding:20px 0 20px ;
                }
            }
        }
        &__body{
            color: $gris-text;
            font-family: $reg;
            font-size: 1rem;
            line-height: 24px;
            padding-bottom: 20px;
            &--header{
                font-size: 1.6rem;
                font-family: $light;;
                line-height: 36px;
            }
            &--reg{
                font-family:$light;
            }
            &--tin{
                @media screen and(min-width: 1024px){
                    font-size: 0.88rem;
                    line-height: 20px;
                }
            }
        }
    }
}
.block3{
    text-align: center;
    &__title{
        text-transform: uppercase;
        font-family: $bold;
        font-size: 1rem;
        line-height: 17px;
        color: $gris-blue;
        letter-spacing: 2px;
        padding-bottom: 18px;
        @media screen and(min-width: 1024px){
            padding-bottom: 25px;
        }
    }
    &__body{
        color: $dark;
        font-family: $light;
        font-size: 1.25rem;
        line-height: 30px;
        padding-bottom: 10px;
        @media screen and(min-width: 1024px){
            line-height: 48px;
            font-size: 1.75rem;
            width: 60%;
            margin: auto;
            padding-bottom: 50px;
        }
    }
    &__container{
        &__contain{
            &__title{
                text-transform: uppercase;
                color: $dark;
                font-size: 0.88rem;
                letter-spacing: 2px;
                padding: 15px 0 10px;
                font-family: $bold;

            }
            &__body{
                color: $gris-clair-text;
                font-family: $light;
                font-size: 1rem;
                line-height: 22px;
                padding-bottom: 30px;
                &--grey{
                    color: black;
                    line-height: 28px;
                }
            }
        }
    }
}
.reserve{
    text-align: center;

    &__title{
        color: white;
        font-family: $light;
        font-size: 1.5rem;
        line-height: 25px;
        @media screen and(min-width: 1024px){
            font-size: 2.5rem;
            padding: 20px 0 20px;
        }

    }
    &__body{
        color:$gris-text;
        font-family: $reg;
        font-size: 1.25rem;
        padding: 15px 0 15px;
    }
}
///////////////
////FOOTER/////
///////////////
.footer{
    color: #fff;
    font-family: $reg;
    &__links__link{
        color: #fff;
        text-transform: uppercase;
        line-height: 12px;
        letter-spacing: 2px;
        font-size: 0.69rem;
        &:hover{
            color:$gris-blue;
            text-decoration: none;
        }
    }
    &__social__link{
        color: #fff;
        font-size: 1rem;
        line-height: 17px;
        &:hover{
            color:$gris-blue;
            text-decoration: none;
        }
    }

    &__copyright{
        text-align: center;
        color: $gris-text;
        font-family: $light;
        font-size: 1rem;
        line-height: 21px;
    }
}
///////////////
////page PRODUCTS/////
///////////////

.share{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    @media screen and(min-width: 1024px){
        justify-content: flex-start;
        padding-bottom: 70px;
        &--grey{
            padding-bottom: 0;
        }
    }
    &__title{
        display: inline-block;
        color: white;
        letter-spacing: 2px;
        font-family: $bold;
        font-size: 0.88rem;
        @media screen and(min-width: 1024px){
            margin-right: 20px;
        }
    }
    .footer__social__link{
        border: none;
        color: $gris-text;
        font-size: 1.5rem;
        margin: 0;
        @media screen and(min-width: 1024px){
            margin-right: 20px;
        }
        &:hover{
            border: none;

        }
    }
}
//////SPECIFIC PRODUCT/////
.features__container__contain{
    text-align: center;
    @media screen and(min-width: 1024px){
        text-align: left;
    }
    &__head{
        display: block;
        text-transform: none;
        letter-spacing: 0;
        font-family: $light;
        font-size: 2.2rem;
        color: $dark;
        line-height: 40px;
        padding: 30px 0 10px;
        @media screen and(min-width: 1024px){
            padding: 10px 0 30px;
        }
    }
    &__subhead{
        text-transform: uppercase;
        font-family: $bold;
        font-size: 1rem;
        line-height: 17px;
        color: $gris-blue;
        letter-spacing: 2px;

    }
    &__body{
        font-family: $light;
        font-size: 0.88rem;

    }
    &__texts{
        &__text{
            &::after{
                content: '';
                display: block;
                margin: 20px auto 0;
                height: 1px;
                width: 100px;
                background-color: lighten($gris-blue , 30% );
                @media screen and(min-width: 1024px){
                    width: 100%;
                    margin-bottom: 50px;
                }
            }
            &--none{
                &::after{
                    display: none;
                }
            }
        }
        &__number{
            color: $gris-blue;
            font-family: $light;
            font-size: 4.5rem;
            display: block;
            @media screen and(min-width: 1024px){
                margin: -20px 10px 0;
            }
        }

    }
}
