html {
    box-sizing: border-box;
}

* , *:before, *:after {
   box-sizing: inherit;
}
//JS
.navigation .visible{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
.navigation .color{
    background-color: rgba(33, 33, 33, 0.98);
}
///nav

.navigation{
    background-color: rgba(33, 33, 33, 0.98);
    padding: 25px 0 25px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.2s linear;
    @media screen and(min-width: 1024px){
        background-color: transparent;
    }

    &__container{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        @media screen and(min-width: 1024px){
            align-items: center;
        }
        &__logo{
            width: 120px;
        }
        &__burger{
            cursor: pointer;
            background-color: inherit;
            border: none;
            width: 20px;
            height: 15px;
            position: relative;
            @media screen and(min-width: 1024px){
                display: none;
            }
            &:focus{
                outline: none;
            }
            &__bar{
                position: absolute;
                left: 50%;
                top: 50%;

                height: 3px;
                width: 15px;

                background-color: white;
                &--top{
                    top: 10px;
                }
            }
            .top{
            top: 0%;
            transform:translateX(-50%);
            }
            .bot{
                top: 12px;
                transform:translateX(-50%);

            }
            .mid{
                top:48%;
                transform: translate(-50%,-50%);

            }
        }
        &__links{
            width: 100%;
            flex-flow: column wrap;
            padding-top: 15px;
            transition: 0.5s all ease-in-out;
            display: none;
            @media screen and(min-width: 1024px){
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                flex-flow: row wrap;
                width: 40%;
                justify-content: flex-end;
            }


            &__links{
                line-height: 40px;
                @media screen and(min-width: 1024px){
                    flex-flow: row wrap;
                    width: 20%;
                    text-align: right;
                }
                &:hover{
                    color: $gris-blue;
                    text-decoration: none;
                }
                &--btn{
                    @media screen and(min-width: 1024px){
                        border: 1px solid #fff;
                        border-radius: 30px;
                        width: 30%;
                        padding: 0px 5px;
                        text-align: center;
                    }
                    &:hover{
                        width: 100%;
                        border: 1px solid $gris-blue;
                        border-radius: 30px;
                        @media screen and(min-width: 1024px){
                            width: 30%;
                        }
                    }
                }
            }
        }
    }

}
.btn{
    border-radius: 20px;
    padding: 10px 40px;
    display: inline-block;
    &--one{
        margin-bottom: 10px;
    }
    &--grey{
        background-color: $gris-blue;
        &:hover{
            background-color: #fff;
            color: $dark;
            text-decoration: none;
        }
    }
    &--stroke{
        border: 1px solid $gris-blue;
        &:hover{
            color: $dark;
            text-decoration: none;
            border: 1px solid $gris-blue;

        }
    }
    &--white{
        border: 1px solid #fff;
        &:hover{
            background-color: $gris-blue;
            color: #fff;
            text-decoration: none;
            border: 1px solid $gris-blue;

        }
    }
}
